@font-face {
    font-family: 'Bugaki';
    src: url(../Assets/Fonts/Bugaki-Regular.ttf) format("truetype");
    font-weight: 400;
  }
  @font-face {
    font-family: 'Bugaki';
    src: url(../Assets/Fonts/Bugaki-Regular.otf) format("opentype");
    font-weight: 400;
  }
  
  body {
    font-family: 'Bugaki', sans-serif;
  }