@use "../../Styles/variables" as *;
@use "../../Styles/typography" as*;

body {
  background-color: $page-background;
  display: flex;
  flex-direction: column;
  font-family: "Bugaki";
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: $main-pink;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-between;
    align-items:center;
    list-style-type: none;
    margin: 0;
    padding: 0; 
    white-space: nowrap;

    li {
      margin: 0 1em;

      a {
        color: white; // default text color
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 500;

        // hover effect
        &:hover {
          color: $light-yellow; 
          transition: color 0.3s ease-in-out;
        }

        // active state effect
        &.active {
          color: red; // replace with your desired active color
        }
      }
    }
  }
}
.icons {
  display: flex;
  margin-right: auto;
}
.icon-linkedin {
  width: 60px;
  height: 60px;
  margin-left: 800px;
}

.icon-github {
  width: 60px;
  height: 60px;
}
