.bio {background-image: url('../../Assets/Images/TextBox.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100vw;
margin-top: -200px ;
margin-bottom: 100px;}

.about-me-title {
height: 50vh;
margin-top:-80px}
    
  