.image-container {
    display: flex;
    justify-content: space-between;
    padding: 2.25rem;
  }
  
  .image1 {
    width: 45%; // adjust as needed
    height: auto;
  }
  .image2 {
    width: 45%; // adjust as needed
    height: auto;
  }